components/controller/src/extensions/reports/schemas/NO_NDFL6.2_1_231_00_05_05_02.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by Shakeev (FGUP GNIVC FNS Russia) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<!---**************************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл">
					<sch:rule context="Файл">
						<!--  1. Проверка имени файла на соответствие ИдФайл  -->
						<sch:assert test="usch:getFileName() = @ИдФайл">
							<usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл">Имя файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента ИдФайл "<usch:value-of select="@ИдФайл"/>"</usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---**************************************************************************************************************************************************************************-->
			<xs:documentation>Файл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Документ">
					<xs:annotation>
						<!---*************************************************************************************************************************************************************-->
						<xs:appinfo>
							<sch:pattern name="Присутствие ФИО (руководителя организации / представителя)  в  зависимости  от  значения  ПрПодп и наличия НПЮЛ">
								<sch:rule context="Документ">
									<!-- 2. Контроль  обязательности  присутствия  ФИО (руководителя организации / представителя)  в  зависимости  от  значения  ПрПодп и наличия НПЮЛ -->
									<sch:assert test=" (Подписант/ФИО and Подписант/@ПрПодп=2) or (Подписант/ФИО and Подписант/@ПрПодп=1 and СвНП/НПЮЛ) or 		( ( (Подписант/ФИО) or  not(Подписант/ФИО) )  and Подписант/@ПрПодп=1 and СвНП/НПФЛ) ">
										<usch:error code="0400300003" path="Подписант/ФИО" value-of-select="Подписант/@ПрПодп"> Не выполнено условие присутствия (отсутствия) элемента Файл/Документ/Подписант/ФИО при значении элемента ПрПодп, равном "<usch:value-of select="Подписант/@ПрПодп"/>". </usch:error>
									</sch:assert>
								</sch:rule>
							</sch:pattern>
						</xs:appinfo>
						<!---*************************************************************************************************************************************************************-->
						<xs:documentation>Состав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвНП">
								<xs:annotation>
									<xs:documentation>Сведения о налоговом агенте</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="НПЮЛ">
											<xs:annotation>
												<xs:documentation>Налоговый агент - организация</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвРеоргЮЛ" minOccurs="0">
														<xs:annotation>
															<!---*********************************************************************************************************************************-->
															<xs:appinfo>
																<sch:pattern name="Присутствие атрибутов ИННЮЛ и КПП">
																	<sch:rule context="СвРеоргЮЛ">
																		<!-- 7. Контроль  обязательности  присутствия  атрибутов  ИННЮЛ  и  КПП  в  зависимости  от  значения  атрибута  ФормРеорг       -->
																		<sch:assert test=" (count(@ИННЮЛ)!=0 and @ФормРеорг!=0) or (count(@ИННЮЛ)=0 and @ФормРеорг=0)  ">
																			<usch:error code="0400300003" path="@ИННЮЛ" value-of-select="@ФормРеорг">Не выполнено условие присутствия элемента Файл/Документ/СвНП/НПЮЛ/СвРеоргЮЛ/ИННЮЛ при значении элемента ФормРеорг, равном "<usch:value-of select="@ФормРеорг"/>".</usch:error>
																		</sch:assert>
																		<sch:assert test=" (count(@КПП)!=0 and @ФормРеорг!=0) or (count(@КПП)=0 and @ФормРеорг=0)  ">
																			<usch:error code="0400300003" path="@КПП" value-of-select="@ФормРеорг">Не выполнено условие присутствия элемента Файл/Документ/СвНП/НПЮЛ/СвРеоргЮЛ/@КПП при значении элемента ФормРеорг, равном "<usch:value-of select="@ФормРеорг"/>".</usch:error>
																		</sch:assert>
																	</sch:rule>
																</sch:pattern>
															</xs:appinfo>
															<!---*********************************************************************************************************************************-->
															<xs:documentation>Сведения о реорганизованной (ликвидированной) организации (обособленном подразделении)</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ФормРеорг" use="required">
																<xs:annotation>
																	<xs:documentation>Код формы реорганизации (ликвидации) / закрытия обособленного подразделения</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="1"/>
																		<xs:enumeration value="1"/>
																		<xs:enumeration value="2"/>
																		<xs:enumeration value="3"/>
																		<xs:enumeration value="5"/>
																		<xs:enumeration value="6"/>
																		<xs:enumeration value="0"/>
																		<xs:enumeration value="9"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="optional">
																<xs:annotation>
																	<xs:documentation>ИНН реорганизованной организации / закрытого обособленного подразделения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="КПП" type="КППТип" use="optional">
																<xs:annotation>
																	<xs:documentation>КПП реорганизованной организации / закрытого обособленного подразделения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="НаимОрг" use="required">
													<xs:annotation>
														<xs:documentation>Наименование организации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН организации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КПП" type="КППТип" use="required">
													<xs:annotation>
														<xs:documentation>КПП организации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="НПФЛ">
											<xs:annotation>
												<xs:documentation>Налоговый агент - физическое лицо</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИО" type="ФИОТип">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество (при наличии) физического лица</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН физического лица</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="ОКТМО" type="ОКТМОТип" use="required">
										<xs:annotation>
											<xs:documentation>Код по ОКТМО</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Тлф" use="optional">
										<xs:annotation>
											<xs:documentation>Номер контактного телефона</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Подписант">
								<xs:annotation>
									<!---*********************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Присутствие сведений о представителе">
											<sch:rule context="Подписант">
												<!-- 3. Контроль  обязательности  присутствия  Сведений  о  представителе  налогоплательщика  в  зависимости  от  значения  ПрПодп  -->
												<sch:assert test="usch:iif(@ПрПодп=2, count(СвПред)!=0, (count(СвПред)!=0 or count(СвПред)=0))">
													<usch:error code="0400300003" path="@ПрПодп" value-of-select="@ПрПодп">Не выполнено условие присутствия (отсутствия) элемента Файл/Документ/Подписант/СвПред при значении элемента ПрПодп, равном "<usch:value-of select="@ПрПодп"/>".</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*********************************************************************************************************************************************************-->
									<xs:documentation>Сведения о лице, подписавшем документ</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="ФИОТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СвПред" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о представителе налогового агента</xs:documentation>
												<xs:documentation><![CDATA[Элемент обязателен при <ПрПодп>=2]]></xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="НаимДок" use="required">
													<xs:annotation>
														<xs:documentation>Наименование и реквизиты документа, подтверждающего полномочия представителя налогового агента</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="120"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ПрПодп" use="required">
										<xs:annotation>
											<xs:documentation>Признак лица, подписавшего документ</xs:documentation>
											<xs:documentation>Принимает значение:
1 – налоговый агент   |
2 – представитель налогового агента</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="НДФЛ6.2">
								<xs:annotation>
									<!---*********************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Присутствие сведений о представителе">
											<sch:rule context="НДФЛ6.2">
												<sch:assert test="usch:iif(../@Период=34 or ../@Период=90 or ../@Период=51 or ../@Период=52 or ../@Период=53 or ../@Период=83 or ../@Период=84 or ../@Период=85 or ../@Период=86, count(СправДох)!=0 or count(СправДох)=0, count(СправДох)=0)">
													<usch:error code="0400300003" path="" value-of-select="">Не выполнено условие присутствия (отсутствия) элемента Файл/Документ/НДФЛ6.2/СправДох при значении элемента Период равном "<usch:value-of select="../@Период"/>".</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*********************************************************************************************************************************************************-->
									<xs:documentation>Расчет сумм налога на доходы физических лиц, исчисленных и удержанных налоговым агентом</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ОбязНА" maxOccurs="unbounded">
											<xs:annotation>
												<!---*********************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Присутствие сведений о СведСумНалУд">
														<sch:rule context="ОбязНА">
															<sch:assert test="usch:iif(@СумНалУд&gt;0, count(СведСумНалУд)!=0, (count(СведСумНалУд)!=0 or count(СведСумНалУд)=0))">
																<usch:error code="0400300003" path="" value-of-select="">Не выполнено условие присутствия элемента Файл/Документ/НДФЛ6.2/ОбязНА/СведСумНалУд при значении элемента СумНалУд, равном "<usch:value-of select="@СумНалУд"/>".</usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---*********************************************************************************************************************************************************-->
												<!---*********************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Присутствие сведений о СведСумНалВоз">
														<sch:rule context="ОбязНА">
															<sch:assert test="usch:iif(@СумНалВоз&gt;0, count(СведСумНалВоз)!=0, (count(СведСумНалВоз)!=0 or count(СведСумНалВоз)=0))">
																<usch:error code="0400300003" path="" value-of-select="">Не выполнено условие присутствия элемента Файл/Документ/НДФЛ6.2/ОбязНА/СведСумНалВоз при значении элемента СумНалВоз, равном "<usch:value-of select="@СумНалВоз"/>".</usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---*********************************************************************************************************************************************************-->
												<xs:documentation>Сведения об обязательствах налогового агента</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СведСумНалУд" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сумма налога на доходы физических лиц, подлежащая перечислению с начала налогового периода, по срокам перечисления</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="СумНал1Срок" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налога на доходы физических лиц, подлежащая перечислению по первому сроку</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="СумНал2Срок" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налога на доходы физических лиц, подлежащая перечислению по второму сроку</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="СумНал3Срок" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налога на доходы физических лиц, подлежащая перечислению по третьему сроку</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="СумНал4Срок" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налога на доходы физических лиц, подлежащая перечислению по четвертому сроку</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="СумНал5Срок" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налога на доходы физических лиц, подлежащая перечислению по пятому сроку</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="СумНал6Срок" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налога на доходы физических лиц, подлежащая перечислению по шестому сроку</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СведСумНалВоз" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сумма налога на доходы физических лиц, возвращенная с начала налогового периода, по срокам перечисления</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="СумНалВоз1Срок" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налога на доходы физических лиц, возвращенная в период удержания налога, соответствующий первому сроку перечисления</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="СумНалВоз2Срок" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налога на доходы физических лиц, возвращенная в период удержания налога, соответствующий второму сроку перечисления</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="СумНалВоз3Срок" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налога на доходы физических лиц, возвращенная в период удержания налога, соответствующий третьему сроку перечисления</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="СумНалВоз4Срок" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налога на доходы физических лиц, возвращенная в период удержания налога, соответствующий четвертому сроку перечисления</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="СумНалВоз5Срок" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налога на доходы физических лиц, возвращенная в период удержания налога, соответствующий пятому сроку перечисления</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="СумНалВоз6Срок" use="required">
																<xs:annotation>
																	<xs:documentation>Сумма налога на доходы физических лиц, возвращенная в период удержания налога, соответствующий шестому сроку перечисления</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="15"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="КБК" type="КБКТип" use="required">
													<xs:annotation>
														<xs:documentation>Код бюджетной классификации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="СумНалУд" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога на доходы физических лиц, подлежащая перечислению с начала налогового периода</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалВоз" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога на доходы физических лиц, возвращенная с начала налогового периода</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="РасчСумНал" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Расчет исчисленных и удержанных сумм налога на доходы физических лиц</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Ставка" use="required">
													<xs:annotation>
														<xs:documentation>Ставка налога (в процентах)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="2"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КБК" type="КБКТип" use="required">
													<xs:annotation>
														<xs:documentation>Код бюджетной классификации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КолФЛ" use="required">
													<xs:annotation>
														<xs:documentation>Количество физических лиц, получивших доход</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="9"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КолКвал" use="required">
													<xs:annotation>
														<xs:documentation>Количество высококвалифицированных специалистов, получивших доход</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="9"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНачислНач" use="required">
													<xs:annotation>
														<xs:documentation>Сумма дохода, полученная физическими лицами</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="17"/>
															<xs:fractionDigits value="2"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНачислКвал" use="required">
													<xs:annotation>
														<xs:documentation>Сумма дохода, полученная высококвалифицированными специалистами</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="17"/>
															<xs:fractionDigits value="2"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумВыч" use="required">
													<xs:annotation>
														<xs:documentation>Сумма вычетов и расходов</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="17"/>
															<xs:fractionDigits value="2"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НалБаза" use="required">
													<xs:annotation>
														<xs:documentation>Налоговая база</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="17"/>
															<xs:fractionDigits value="2"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалИсч" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога исчисленная </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалИсчКвал" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, исчисленная с доходов высококвалифицированных специалистов</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумФикс" use="required">
													<xs:annotation>
														<xs:documentation>Сумма фиксированных авансовых платежей</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалПриб" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога на прибыль организаций, подлежащая зачету</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалИнГос" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, исчисленная и уплаченная в иностранном государстве</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалУдерж" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога удержанная</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалУдерж1Мес" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, удержанная с 1-го по 22-е число первого месяца последнего квартала </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалУдерж23_1Мес" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, удержанная с 23-го по последнее число первого месяца последнего квартала </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалУдерж2Мес" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, удержанная с 1-го по 22-е число второго месяца последнего квартала </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалУдерж23_2Мес" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, удержанная с 23-го по последнее число второго месяца последнего квартала </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалУдерж3Мес" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, удержанная с 1-го по 22-е число третьего месяца последнего квартала </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалУдерж23_3Мес" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, удержанная с 23-го по последнее число третьего месяца последнего квартала </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалНеУдерж" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, не удержанная налоговым агентом</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалИзлУдерж" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, излишне удержанная</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалВозвр" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, возвращенная налоговым агентом</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалВозвр1Мес" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, возвращенная налоговым агентом с 1-го по 22-е число первого месяца последнего квартала </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалВозвр23_1Мес" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, возвращенная налоговым агентом с 23-го по последнее число первого месяца последнего квартала </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалВозвр2Мес" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, возвращенная налоговым агентом с 1-го по 22-е число второго месяца последнего квартала </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалВозвр23_2Мес" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, возвращенная налоговым агентом с 23-го по последнее число второго месяца последнего квартала </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалВозвр3Мес" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, возвращенная налоговым агентом с 1-го по 22-е число третьего месяца последнего квартала </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНалВозвр23_3Мес" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, возвращенная налоговым агентом с 23-го по последнее число третьего месяца последнего квартала </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СправДох" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<!---*********************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Присутствие сведений о доходах физического лица">
														<sch:rule context="СправДох">
															<!-- 6. Контроль обязательности присутствия Сведений о доходах физического лица (СведДох) в зависимости от значения Номера корректировки (НомКорр) -->
															<sch:assert test="usch:iif(@НомКорр!=99, count(СведДох)!=0, (count(СведДох)!=0 or count(СведДох)=0))">
																<usch:error code="0400300003" path="СведДох" value-of-select="count(СведДох)">Не выполнено условие присутствия (отсутствия) элемента Файл/Документ/НДФЛ6.2/СправДох/СведДох при значении элемента НомКорр, равном "<usch:value-of select="@НомКорр"/>".</usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---*********************************************************************************************************************************************************-->
												<xs:documentation>Справка о доходах и суммах налога физического лица</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ПолучДох">
														<xs:annotation>
															<xs:documentation>Сведения о физическом лице - получателе дохода</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ФИО" type="ФИОТип">
																	<xs:annotation>
																		<xs:documentation>Фамилия, имя, отчество (при наличии)</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="УдЛичнФЛ">
																	<xs:annotation>
																		<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="КодУдЛичн" use="required">
																			<xs:annotation>
																				<xs:documentation>Код вида документа, удостоверяющего личность </xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="СПДУЛТип"/>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="СерНомДок" use="required">
																			<xs:annotation>
																				<xs:documentation>Серия и номер документа, удостоверяющего личность </xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="25"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="optional">
																<xs:annotation>
																	<xs:documentation>ИНН</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="Статус" use="required">
																<xs:annotation>
																	<xs:documentation>Статус налогоплательщика</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="1"/>
																		<xs:enumeration value="1"/>
																		<xs:enumeration value="2"/>
																		<xs:enumeration value="3"/>
																		<xs:enumeration value="4"/>
																		<xs:enumeration value="5"/>
																		<xs:enumeration value="6"/>
																		<xs:enumeration value="7"/>
																		<xs:enumeration value="8"/>
																		<xs:enumeration value="9"/>
																		<xs:enumeration value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаРожд" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата рождения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="Гражд" type="ОКСМТип" use="required">
																<xs:annotation>
																	<xs:documentation>Гражданство (код страны)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СведДох" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Общая сумма дохода и сумма налога по итогам налогового периода</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="СумИтНалПер">
																	<xs:annotation>
																		<xs:documentation>Общая сумма дохода и сумма налога по итогам налогового периода</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="СумДохОбщ" use="required">
																			<xs:annotation>
																				<xs:documentation>Общая сумма дохода</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:totalDigits value="17"/>
																					<xs:fractionDigits value="2"/>
																					<xs:minInclusive value="0"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="НалБаза" use="required">
																			<xs:annotation>
																				<xs:documentation>Налоговая база</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:totalDigits value="17"/>
																					<xs:fractionDigits value="2"/>
																					<xs:minInclusive value="0"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="НалИсчисл" use="required">
																			<xs:annotation>
																				<xs:documentation>Сумма налога исчисленная</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:minInclusive value="0"/>
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="АвансПлатФикс" use="required">
																			<xs:annotation>
																				<xs:documentation>Сумма фиксированных авансовых платежей</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:minInclusive value="0"/>
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="СумНалПрибЗач" use="required">
																			<xs:annotation>
																				<xs:documentation>Сумма налога на прибыль организаций, подлежащая зачету</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:minInclusive value="0"/>
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="СумНалИнГос" use="required">
																			<xs:annotation>
																				<xs:documentation>Сумма налога, исчисленная и уплаченная в иностранном государстве</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="15"/>
																					<xs:minInclusive value="0"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="НалУдерж" use="required">
																			<xs:annotation>
																				<xs:documentation>Сумма налога удержанная</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:minInclusive value="0"/>
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="НалУдержЛиш" use="required">
																			<xs:annotation>
																				<xs:documentation>Сумма налога, излишне удержанная налоговым агентом</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:minInclusive value="0"/>
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="НалВычССИ" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Стандартные, социальные и имущественные налоговые вычеты</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ПредВычССИ" type="СведВыч" minOccurs="0" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation>Суммы предоставленных налогоплательщику стандартных, социальных и имущественных налоговых вычетов</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="УведВыч" minOccurs="0" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation>Уведомление, подтверждающее право на социальный или имущественный налоговый вычет или подтверждающее право на уменьшение налога на фиксированные авансовые платежи</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:attribute name="КодВидУвед" use="required">
																						<xs:annotation>
																							<xs:documentation>Код вида уведомления</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:length value="1"/>
																								<xs:enumeration value="1"/>
																								<xs:enumeration value="2"/>
																								<xs:enumeration value="3"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="НомерУвед" use="required">
																						<xs:annotation>
																							<xs:documentation>Номер уведомления</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:minLength value="1"/>
																								<xs:maxLength value="20"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="ДатаУвед" type="ДатаТип" use="required">
																						<xs:annotation>
																							<xs:documentation>Дата выдачи уведомления</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="НОУвед" type="СОНОТип" use="required">
																						<xs:annotation>
																							<xs:documentation>Код налогового органа, выдавшего уведомление</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="СумДохНеУд" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Сумма дохода, с которого не удержан налог налоговым агентом, и сумма неудержанного налога</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="СумДохНеУдерж" use="required">
																			<xs:annotation>
																				<xs:documentation>Сумма дохода, с которого не удержан налог налоговым агентом</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:totalDigits value="17"/>
																					<xs:fractionDigits value="2"/>
																					<xs:minInclusive value="0"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="СумНеУдНал" use="required">
																			<xs:annotation>
																				<xs:documentation>Сумма неудержанного налога</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="15"/>
																					<xs:minInclusive value="0"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ДохВыч">
																	<xs:annotation>
																		<xs:documentation>Сведения о доходах и соответствующих вычетах по месяцам налогового периода</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="СвСумДох" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation>Сведения о доходах и соответствующих вычетах по месяцам налогового периода (по месяцу и коду дохода)</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="СвСумВыч" type="СведВыч" minOccurs="0" maxOccurs="unbounded">
																							<xs:annotation>
																								<xs:documentation>Сведения о вычетах</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="Месяц" use="required">
																						<xs:annotation>
																							<xs:documentation>Месяц</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:length value="2"/>
																								<xs:enumeration value="01"/>
																								<xs:enumeration value="02"/>
																								<xs:enumeration value="03"/>
																								<xs:enumeration value="04"/>
																								<xs:enumeration value="05"/>
																								<xs:enumeration value="06"/>
																								<xs:enumeration value="07"/>
																								<xs:enumeration value="08"/>
																								<xs:enumeration value="09"/>
																								<xs:enumeration value="10"/>
																								<xs:enumeration value="11"/>
																								<xs:enumeration value="12"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="КодДоход" use="required">
																						<xs:annotation>
																							<xs:documentation>Код дохода</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:length value="4"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="СумДоход" use="required">
																						<xs:annotation>
																							<xs:documentation>Сумма дохода</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:decimal">
																								<xs:totalDigits value="17"/>
																								<xs:fractionDigits value="2"/>
																								<xs:minInclusive value="0"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="Ставка" use="required">
																<xs:annotation>
																	<xs:documentation>Ставка налога</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="2"/>
																		<xs:minInclusive value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="КБК" type="КБКТип" use="required">
																<xs:annotation>
																	<xs:documentation>Код бюджетной классификации</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="НомСпр" use="required">
													<xs:annotation>
														<xs:documentation>Номер справки</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="10"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НомКорр" use="required">
													<xs:annotation>
														<xs:documentation>Номер корректировки</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="2"/>
															<xs:pattern value="[0-9]{2}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="КНД" use="required">
							<xs:annotation>
								<xs:documentation>Код формы документа по КНД</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="КНДТип">
									<xs:enumeration value="1151100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДатаДок" type="ДатаТип" use="required">
							<xs:annotation>
								<xs:documentation>Дата формирования документа</xs:documentation>
								<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Период" use="required">
							<xs:annotation>
								<xs:documentation>Отчетный период (код)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
									<xs:enumeration value="21"/>
									<xs:enumeration value="31"/>
									<xs:enumeration value="33"/>
									<xs:enumeration value="34"/>
									<xs:enumeration value="51"/>
									<xs:enumeration value="52"/>
									<xs:enumeration value="53"/>
									<xs:enumeration value="83"/>
									<xs:enumeration value="84"/>
									<xs:enumeration value="85"/>
									<xs:enumeration value="86"/>
									<xs:enumeration value="90"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ОтчетГод" type="xs:gYear" use="required">
							<xs:annotation>
								<xs:documentation>Календарный год</xs:documentation>
								<xs:documentation>
Год в формате ГГГГ</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="КодНО" type="СОНОТип" use="required">
							<xs:annotation>
								<xs:documentation>Код налогового органа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="НомКорр" use="required">
							<xs:annotation>
								<xs:documentation>Номер корректировки</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ПоМесту" use="required">
							<xs:annotation>
								<xs:documentation>Код по месту нахождения (учета)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="3"/>
									<xs:enumeration value="120"/>
									<xs:enumeration value="121"/>
									<xs:enumeration value="122"/>
									<xs:enumeration value="124"/>
									<xs:enumeration value="214"/>
									<xs:enumeration value="215"/>
									<xs:enumeration value="220"/>
									<xs:enumeration value="223"/>
									<xs:enumeration value="320"/>
									<xs:enumeration value="335"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
					<xs:documentation>Содержит (повторяет) имя сформированного файла (без расширения)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="required">
				<xs:annotation>
					<xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.05"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="СведВыч">
		<xs:annotation>
			<xs:documentation>Сведения о вычетах</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодВычет" use="required">
			<xs:annotation>
				<xs:documentation>Код вычета</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="СумВычет" use="required">
			<xs:annotation>
				<xs:documentation>Сумма вычета</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="17"/>
					<xs:fractionDigits value="2"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="required">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="required">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки кроме 50</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-4A-Z]{1}[0-9A-Z]{1}|5[1-9A-Z]{1}|[6-9A-Z]{1}[0-9A-Z]{1})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КНДТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СОНОТип">
		<xs:annotation>
			<xs:documentation>Коды из Классификатора системы обозначений налоговых органов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КБКТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора доходов в бюджет </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="[0-9]{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКТМОТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора территорий муниципальных образований</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[0-9]{8}"/>
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКСМТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СПДУЛТип">
		<xs:annotation>
			<xs:documentation>Коды Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
