components/controller/src/extensions/reports/schemas/NO_PERSSVFL_1_297_00_05_01_02.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2024 rel. 2 sp1 (x64) (https://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<!---*******************************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл">
					<sch:rule context="Файл">
						<!--  1. Проверка имени файла на соответствие ИдФайл                                                                             -->
						<sch:assert test="usch:getFileName() = @ИдФайл">
							<usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл">Имя файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента ИдФайл "<usch:value-of select="@ИдФайл"/>"</usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---*******************************************************************************************************************************************************************************-->
			<xs:documentation>Файл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Документ">
					<xs:annotation>
						<!---*************************************************************************************************************************************************************-->
						<xs:appinfo>
							<sch:pattern name="Присутствие ФИО (руководителя организации / представителя)  в  зависимости  от  значения  ПрПодп и наличия НПЮЛ">
								<sch:rule context="Документ">
									<!-- 2. Контроль  обязательности  присутствия  ФИО (руководителя организации / представителя)  в  зависимости  от  значения  ПрПодп и наличия НПЮЛ -->
									<sch:assert test=" (Подписант/ФИО and Подписант/@ПрПодп=2) or (Подписант/ФИО and Подписант/@ПрПодп=1 and СвНП/НПЮЛ) or 	( ( (Подписант/ФИО) or  not(Подписант/ФИО) )  and Подписант/@ПрПодп=1 and СвНП/НПФЛ) ">
										<usch:error code="0400300003" path="Подписант/ФИО" value-of-select="Подписант/@ПрПодп"> Не выполнено условие присутствия (отсутствия) элемента Файл/Документ/Подписант/ФИО при значении элемента ПрПодп, равном "<usch:value-of select="Подписант/@ПрПодп"/>". </usch:error>
									</sch:assert>
								</sch:rule>
							</sch:pattern>
						</xs:appinfo>
						<!---*************************************************************************************************************************************************************-->
						<!---*********************************************************************************************************************************************************-->
						<xs:appinfo>
							<sch:pattern name="Соответствие между значением элемента ОтчетГод и значением года из элемента ДатаДок">
								<sch:rule context="Документ">
									<!-- 3. Контроль соответствия между значением элемента ОтчетГод и значением года из элемента ДатаДок -->
									<sch:assert test=" (
									( (substring(@ОтчетГод,1,4))&gt;=2017 ) 
									and
									( (substring(@ОтчетГод,1,4))  &lt;=   (substring(@ДатаДок,7,4)) )
									)  ">
										<usch:error code="0400400007" path="@ОтчетГод" value-of-select="@ОтчетГод">Не выполнено условие к  значению элемента ОтчетГод, значение элемента ОтчетГод равно "<usch:value-of select="substring(@ОтчетГод,1,4)"/>" и значение элемента ДатаДок равно "<usch:value-of select="substring(@ДатаДок,7,4)"/>".</usch:error>
									</sch:assert>
								</sch:rule>
							</sch:pattern>
						</xs:appinfo>
						<!---*********************************************************************************************************************************************************-->
						<xs:documentation>Состав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвНП">
								<xs:annotation>
									<!---*********************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Присутствие элемента НПФЛ">
											<sch:rule context="СвНП">
												<sch:assert test="usch:iif(../@Период='AC' or ../@Период='AD' or ../@Период='AE' or ../@Период='BC' or ../@Период='BD' or ../@Период='BE' or ../@Период='CC' or ../@Период='CD' or ../@Период='CE' or ../@Период='DC' or ../@Период='DD' or ../@Период='DE', count(НПФЛ)!=0, count(НПФЛ)=0 or count(НПФЛ)!=0)">
													<usch:error code="0400300003" path="" value-of-select="">Не выполнено условие к присутствию элемента Файл/Документ/СвНП/НПФЛ - при значении элемента  Файл/Документ/@Период, равного  "<usch:value-of select="../@Период"/>"</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*********************************************************************************************************************************-->
									<xs:documentation>Сведения о плательщике страховых взносов</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="НПЮЛ">
											<xs:annotation>
												<!---*********************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Значение элемента КПП">
														<sch:rule context="НПЮЛ">
															<!-- 4. Контроль значения элемента КПП - 5 и 6 разряды не равны 50  -->
															<sch:assert test=" substring(@КПП,5,2)!=50 ">
																<usch:error code="0400300003" path="@КПП" value-of-select="@КПП">Не выполнено условие к значению элемента Документ/СвНП/НПЮЛ/КПП на 5 и 6 знаки, не равные 50 при значении элемента КПП, равном "<usch:value-of select="@КПП"/>".</usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---*********************************************************************************************************************************-->
												<xs:documentation>Плательщик страховых взносов - организация</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвРеоргЮЛ" minOccurs="0">
														<xs:annotation>
															<!---*********************************************************************************************************************************-->
															<xs:appinfo>
																<sch:pattern name="Значение элемента КПП">
																	<sch:rule context="СвРеоргЮЛ">
																		<!-- 5. Контроль значения элемента КПП - 5 и 6 разряды не равны 50  -->
																		<sch:assert test=" substring(@КПП,5,2)!=50 ">
																			<usch:error code="0400300003" path="@КПП" value-of-select="@КПП">Не выполнено условие к значению элемента Файл/Документ/СвНП/НПЮЛ/СвРеоргЮЛ/КПП на 5 и 6 знаки, не равные 50 при значении элемента КПП, равном "<usch:value-of select="@КПП"/>".</usch:error>
																		</sch:assert>
																	</sch:rule>
																</sch:pattern>
															</xs:appinfo>
															<!---*********************************************************************************************************************************-->
															<!---*********************************************************************************************************************************-->
															<xs:appinfo>
																<sch:pattern name="Присутствие атрибутов ИННЮЛ и КПП">
																	<sch:rule context="СвРеоргЮЛ">
																		<!-- 6. Контроль  обязательности  присутствия  атрибутов  ИННЮЛ  и  КПП  в  зависимости  от  значения  атрибута  ФормРеорг       -->
																		<sch:assert test=" (count(@ИННЮЛ)!=0 and @ФормРеорг!=0) or (count(@ИННЮЛ)=0 and @ФормРеорг=0)  ">
																			<usch:error code="0400300003" path="@ИННЮЛ" value-of-select="@ФормРеорг">Не выполнено условие присутствия элемента Файл/Документ/СвНП/НПЮЛ/СвРеоргЮЛ/ИННЮЛ при значении элемента ФормРеорг, равном "<usch:value-of select="@ФормРеорг"/>".</usch:error>
																		</sch:assert>
																		<sch:assert test=" (count(@КПП)!=0 and @ФормРеорг!=0) or (count(@КПП)=0 and @ФормРеорг=0)  ">
																			<usch:error code="0400300003" path="@КПП" value-of-select="@ФормРеорг">Не выполнено условие присутствия элемента Файл/Документ/СвНП/НПЮЛ/СвРеоргЮЛ/@КПП при значении элемента ФормРеорг, равном "<usch:value-of select="@ФормРеорг"/>".</usch:error>
																		</sch:assert>
																	</sch:rule>
																</sch:pattern>
															</xs:appinfo>
															<!---*********************************************************************************************************************************-->
															<xs:documentation>Сведения о реорганизованной (ликвидированной) организации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ФормРеорг" use="required">
																<xs:annotation>
																	<xs:documentation>Код формы реорганизации (ликвидация) / лишения полномочий (закрытие) обособленного подразделения</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="1"/>
																		<xs:enumeration value="1"/>
																		<xs:enumeration value="2"/>
																		<xs:enumeration value="3"/>
																		<xs:enumeration value="4"/>
																		<xs:enumeration value="5"/>
																		<xs:enumeration value="6"/>
																		<xs:enumeration value="7"/>
																		<xs:enumeration value="9"/>
																		<xs:enumeration value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="optional">
																<xs:annotation>
																	<xs:documentation>ИНН реорганизованной организации / лишенного полномочий (закрытого) обособленного подразделения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="КПП" type="КППТип" use="optional">
																<xs:annotation>
																	<xs:documentation>КПП реорганизованной организации / лишенного полномочий (закрытого) обособленного подразделения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="НаимОрг" use="required">
													<xs:annotation>
														<xs:documentation>Наименование организации, обособленного подразделения</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН организации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КПП" use="required">
													<xs:annotation>
														<xs:documentation>КПП организации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="КППТип"/>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="НПФЛ">
											<xs:annotation>
												<!---*************************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Значение элемента ИННФЛ">
														<sch:rule context="НПФЛ">
															<!-- 7. Контроль значения элемента ИННФЛ -->
															<sch:assert test="	(substring(@ИННФЛ,3,10)!=1234567890) and (substring(@ИННФЛ,3,10)!=000000000000) and (substring(@ИННФЛ,1,2)!=96) and (substring(@ИННФЛ,1,2)!=98) ">
																<usch:error code="0400400007" path="@ИННФЛ" value-of-select="@ИННФЛ"> Не выполнено условие к значению элемента Файл/Документ/СвНП/НПФЛ/ИННФЛ при значении элемента ИННФЛ, равном "<usch:value-of select="@ИННФЛ"/>". </usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---*************************************************************************************************************************************************************-->
												<!---*********************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Присутствие сведений об ОГРНИП">
														<sch:rule context="НПФЛ">
															<!-- 8. Присутствие сведений об ОГРНИП -->
															<sch:assert test="usch:iif(../../@ПоМесту=120 or ../../@ПоМесту=124, count(@ОГРНИП)!=0, (count(@ОГРНИП)=0 or count(@ОГРНИП)!=0))">
																<usch:error code="0400300003" path="" value-of-select="">Не выполнено условие -  элемент ОГРНИП является обязательным при значении элемента ПоМесту=120 | 124 </usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---*********************************************************************************************************************************************************-->
												<!---*********************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Присутствие фамилии и имени">
														<sch:rule context="НПФЛ/ФИО">
															<sch:assert test="count(@Фамилия)!=0 and count(@Имя)!=0">
																<usch:error code="0400300003" path="" value-of-select="">Не выполнено условие -  оба элемента Фамилия или Имя должны присутствовать</usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---*********************************************************************************************************************************************************-->
												<xs:documentation>Плательщик страховых взносов - индивидуальный предприниматель, глава крестьянского (фермерского) хозяйства, физическое лицо</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИО" type="ФИОТип">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество индивидуального предпринимателя, главы крестьянского (фермерского) хозяйства, физического лица</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН физического лица</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ОГРНИП" type="ОГРНИПТип" use="optional">
													<xs:annotation>
														<xs:documentation>ОГРНИП</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="Тлф" use="optional">
										<xs:annotation>
											<xs:documentation>Номер контактного телефона</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Подписант">
								<xs:annotation>
									<!---*********************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Присутствие сведений о представителе">
											<sch:rule context="Подписант">
												<!-- 9. Контроль  обязательности  присутствия  Сведений  о  представителе  налогоплательщика  в  зависимости  от  значения  ПрПодп  -->
												<sch:assert test="usch:iif(@ПрПодп=2, count(СвПред)!=0, (count(СвПред)!=0 or count(СвПред)=0))">
													<usch:error code="0400300003" path="@ПрПодп" value-of-select="@ПрПодп">Не выполнено условие присутствия (отсутствия) элемента Файл/Документ/Подписант/СвПред при значении элемента ПрПодп, равном "<usch:value-of select="@ПрПодп"/>".</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*********************************************************************************************************************************************************-->
									<!---*********************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Присутствие фамилии и имени">
											<sch:rule context="Подписант/ФИО">
												<sch:assert test="count(@Фамилия)!=0 and count(@Имя)!=0">
													<usch:error code="0400300003" path="" value-of-select="">Не выполнено условие -  оба элемента Фамилия или Имя должны присутствовать</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*********************************************************************************************************************************************************-->
									<xs:documentation>Сведения о лице, подписавшем документ</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="ФИОТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СвПред" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о представителе плательщика страховых взносов</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="НаимДок" use="required">
													<xs:annotation>
														<xs:documentation>Наименование и реквизиты документа, подтверждающего полномочия представителя плательщика</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="120"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаимОрг" use="optional">
													<xs:annotation>
														<xs:documentation>Наименование организации - представителя плательщика</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ПрПодп" use="required">
										<xs:annotation>
											<xs:documentation>Признак лица, подписавшего документ</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ПерсСвФЛ" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Персональные данные физических лиц и сведения о суммах выплат и иных вознаграждений в их пользу</xs:documentation>
									<!---*********************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Присутствие элемента ПрАннулир в зависимости от значения элемента НомКорр">
											<sch:rule context="ПерсСвФЛ">
												<!-- 10. Контроль  обязательности  присутствия (отсутствия) элемента ПрАннулир в зависимости от значения элемента НомКорр -->
												<sch:assert test="usch:iif( (  (../@НомКорр)=0  or  (../@НомКорр)=00  or  (../@НомКорр)=000  )  ,   count(@ПрАннулир)=0 ,  (  count(@ПрАннулир)=0  or count(@ПрАннулир)!=0  )  )">
													<usch:error code="0400300003" path="@ПрАннулир" value-of-select="count(@ПрАннулир)">Не выполнено условие присутствия (отсутствия) элемента Файл/Документ/ПерсСвФЛ/ПрАннулир при значении элемента НомКорр, равном "<usch:value-of select="../@НомКорр"/>".</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*********************************************************************************************************************************************************-->
									<!---*************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Значение элемента ИННФЛ">
											<sch:rule context="ПерсСвФЛ">
												<!-- 11. Контроль значения элемента ИННФЛ -->
												<sch:assert test="	(substring(@ИННФЛ,3,10)!=1234567890) and (substring(@ИННФЛ,3,10)!=000000000000) and (substring(@ИННФЛ,1,2)!=96) and (substring(@ИННФЛ,1,2)!=98) ">
													<usch:error code="0400400007" path="@ИННФЛ" value-of-select="@ИННФЛ"> Не выполнено условие к значению элемента Файл/Документ/ПерсСвФЛ/ИННФЛ при значении элемента ИННФЛ, равном "<usch:value-of select="@ИННФЛ"/>". </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<!---*********************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Присутствие фамилии или имени">
											<sch:rule context="ПерсСвФЛ/ФИО">
												<sch:assert test="count(@Фамилия)!=0 or count(@Имя)!=0">
													<usch:error code="0400300003" path="" value-of-select="">Не выполнено условие -  хотя бы один из элементов Фамилия или Имя должен присутствовать</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*********************************************************************************************************************************************************-->
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="ФИОТип">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ПрАннулир" use="optional">
										<xs:annotation>
											<xs:documentation>Признак аннулирования сведений о физическом лице</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="optional">
										<xs:annotation>
											<xs:documentation>ИНН</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="СНИЛС" type="СНИЛСТип" use="required">
										<xs:annotation>
											<xs:documentation>СНИЛС</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="СумВыпл" use="required">
										<xs:annotation>
											<xs:documentation>Сведения о сумме выплат и иных вознаграждений, начисленных в пользу физического лица</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="17"/>
												<xs:fractionDigits value="2"/>
												<xs:minInclusive value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="КНД" use="required">
							<xs:annotation>
								<xs:documentation>Код формы документа по КНД</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="КНДТип">
									<xs:enumeration value="1151162"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДатаДок" type="ДатаТип" use="required">
							<xs:annotation>
								<xs:documentation>Дата формирования документа</xs:documentation>
								<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="НомКорр" use="required">
							<xs:annotation>
								<xs:documentation>Номер корректировки</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Период" use="required">
							<xs:annotation>
								<xs:documentation>Период, за который представляются сведения</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
									<xs:enumeration value="01"/>
									<xs:enumeration value="02"/>
									<xs:enumeration value="03"/>
									<xs:enumeration value="04"/>
									<xs:enumeration value="05"/>
									<xs:enumeration value="06"/>
									<xs:enumeration value="07"/>
									<xs:enumeration value="08"/>
									<xs:enumeration value="09"/>
									<xs:enumeration value="10"/>
									<xs:enumeration value="11"/>
									<xs:enumeration value="12"/>
									<xs:enumeration value="71"/>
									<xs:enumeration value="72"/>
									<xs:enumeration value="73"/>
									<xs:enumeration value="74"/>
									<xs:enumeration value="75"/>
									<xs:enumeration value="76"/>
									<xs:enumeration value="77"/>
									<xs:enumeration value="78"/>
									<xs:enumeration value="79"/>
									<xs:enumeration value="80"/>
									<xs:enumeration value="81"/>
									<xs:enumeration value="82"/>
									<xs:enumeration value="AC"/>
									<xs:enumeration value="AD"/>
									<xs:enumeration value="AE"/>
									<xs:enumeration value="BC"/>
									<xs:enumeration value="BD"/>
									<xs:enumeration value="BE"/>
									<xs:enumeration value="CC"/>
									<xs:enumeration value="CD"/>
									<xs:enumeration value="CE"/>
									<xs:enumeration value="DC"/>
									<xs:enumeration value="DD"/>
									<xs:enumeration value="DE"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ОтчетГод" type="xs:gYear" use="required">
							<xs:annotation>
								<xs:documentation>Календарный год</xs:documentation>
								<xs:documentation>
Год в формате ГГГГ</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="КодНО" type="СОНОТип" use="required">
							<xs:annotation>
								<xs:documentation>Код налогового органа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ПоМесту" use="required">
							<xs:annotation>
								<xs:documentation>Код места, по которому представляется документ</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="3"/>
									<xs:enumeration value="112"/>
									<xs:enumeration value="120"/>
									<xs:enumeration value="121"/>
									<xs:enumeration value="122"/>
									<xs:enumeration value="124"/>
									<xs:enumeration value="214"/>
									<xs:enumeration value="217"/>
									<xs:enumeration value="222"/>
									<xs:enumeration value="240"/>
									<xs:enumeration value="335"/>
									<xs:enumeration value="350"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
					<xs:documentation>Содержит (повторяет) имя сформированного файла (без расширения)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="required">
				<xs:annotation>
					<xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="optional">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
					<xs:pattern value="[\s]*[\(]?[А-ЯёЁа-я]+(([\s]?-?[-\.&apos;\(,/])?[\s]?[IVА-ЯёЁа-я][\)]?)*[\)]?[\s]*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="optional">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
					<xs:pattern value="[\s]*[\(]?[А-ЯёЁа-я]+(([\s]?-?[-\.&apos;\(,/])?[\s]?[IVА-ЯёЁа-я][\)]?)*[\.\)]?[\s]*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
					<xs:pattern value="[\s]*[\(]?[А-ЯёЁа-я]+(([\s]?-?[-\.&apos;\(,/])?[\s]?[IVА-ЯёЁа-я][\)]?)*[\.\)]?[\s]*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="КНДТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СНИЛСТип">
		<xs:annotation>
			<xs:documentation>Страховой номер индивидуального лицевого счета</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
			<xs:pattern value="[0-9]{3}\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}"/>
			<xs:pattern value="[0-9]{3}\-[0-9]{3}\-[0-9]{3} [0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОГРНИПТип">
		<xs:annotation>
			<xs:documentation>Основной государственный регистрационный номер индивидуального предпринимателя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="15"/>
			<xs:pattern value="[0-9]{15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СОНОТип">
		<xs:annotation>
			<xs:documentation>Коды из Классификатора системы обозначений налоговых органов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(19[0-9]{2}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>